.place-card__like-btn_active {
    width: 22px;
    height: 19px;
    padding-right: 5px;
    padding-top: 5px;
    background-image: url("../../../../images/like_pic_pressed.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.place-card__like-btn_active:hover {
    opacity: .6;
}